<h3>Créditos</h3>
<ul>
<li><em>Autor:</em>Daniel Requena Cervantes</li>
<li><em>Página web:</em><a href="http://dani-daniel.com" target="_blank">http://dani-daniel.com</a></li>
<li><em>Profesión:</em>Proyectista, programador</li>
<li><em>Tecnologías:</em>php, mysql, jquery, html, css</li>
</ul>
<h3>Video de presentación</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/x7hl-dNjaFw" frameborder="0" allowfullscreen></iframe>