<p><label for="quest" class="rem">Pregunta:</label>
<input type="text" id="quest" name="quiz[question]" value="<%= quiz.question %>"></p>
<p><label for="answ" class="rem">Respuesta:</label>
<input type="text" id="answ" name="quiz[answer]" value="<%= quiz.answer %>"></p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">