    <form method="get" action="/quizes/<%= quiz.id %>/answer">
      <p>Pregunta: <%= quiz.question %></p>
      <p><input type="text" name="respuesta" value="Respuesta">
      <input type="submit" value="Enviar"></p>
    </form>
    <p><a href="/quizes/<%= quiz.id %>/comments/new"><button type="button">Nuevo comentario</button></a></p>
    <h3>Comentarios</h3>
    <% for(index in quiz.Comments) { %>
    	<p>- <%= quiz.Comments[index].text %></p>
    <% } %>